## Task 1 - SQL

### Build SparkSession:

In [33]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
import pyspark.sql.functions as F

### Read the json file:

In [2]:
df_json = (spark.read.format('json')
          .option('inferSchema','true')
          .option('header','true')
          .load('DataFrames_sample.json')
         )

### Display the schema:

In [3]:
df_json.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

### Get all the data when "Model" equal "MacBook Pro":

In [4]:
df_json.select("*").where(F.col('Model') == 'MacBook Pro').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create Table:

In [5]:
df_json.createOrReplaceTempView("Sample_df")

### Display "RAM"column and count "RAM" column:

In [6]:
spark.sql(""" SELECT RAM,COUNT(RAM) 
              FROM Sample_df
              GROUP BY RAM
""").show()

+----+----------+
| RAM|count(RAM)|
+----+----------+
|64GB|         1|
|16GB|         1|
| 8GB|         2|
+----+----------+

### Get all columns when "Year" column equal "2015"

In [7]:
spark.sql("""SELECT * 
             FROM Sample_df
             WHERE Year = '2015'
             """).show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [8]:
spark.sql("""SELECT * 
             FROM Sample_df
             WHERE Model LIKE 'M%'
             """).show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [9]:
spark.sql("""SELECT *
             FROM Sample_df
             WHERE Model = 'MacBook Pro'
             """).show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [22]:
spark.sql("""SELECT *
             FROM Sample_df
             WHERE Model = 'MacBook' AND RAM = '8GB'
             """).show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [11]:
spark.sql("""SELECT *
             FROM Sample_df
             WHERE D >= '8' AND Model = 'iMac'
             """).show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [25]:
df_csv1 = (spark.read.format('csv')
          .option('inferSchema','true')
          .option('header','true')
          .load('test1.csv')
         )

In [26]:
df_csv1.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

### Display Salary of the people less than or equal to 20000

In [39]:
df_csv1.select('Name','Salary').where('Salary <= 20000').show()

+-------+------+
|   Name|Salary|
+-------+------+
|  Sunny| 20000|
|   Paul| 20000|
| Harsha| 15000|
|Shubham| 18000|
+-------+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [41]:
df_csv1.select('Name','Salary').where('Salary <= 20000 and Salary >= 15000').show()

+-------+------+
|   Name|Salary|
+-------+------+
|  Sunny| 20000|
|   Paul| 20000|
| Harsha| 15000|
|Shubham| 18000|
+-------+------+

## Task 3

### Read "test3" dataset:

In [29]:
df_csv3 = (spark.read.format('csv')
          .option('inferSchema','true')
          .option('header','true')
          .load('test3.csv')
         )

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display dataset

In [30]:
df_csv3.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [31]:
df_csv3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [49]:
(df_csv3.select('Name')
        .groupBy('Name')
        .agg(F.count('Name'))
).show()

+---------+-----------+
|     Name|count(Name)|
+---------+-----------+
|Sudhanshu|          3|
|    Sunny|          2|
|    Krish|          3|
|   Mahesh|          2|
+---------+-----------+

### Group by "Name" column and using avg function on "Name" column

In [51]:
(df_csv3.select('Name')
        .groupBy('Name')
        .agg(F.avg('Name'))
).show()

+---------+---------+
|     Name|avg(Name)|
+---------+---------+
|Sudhanshu|     null|
|    Sunny|     null|
|    Krish|     null|
|   Mahesh|     null|
+---------+---------+

### Group by "Departments" column and using sum function on "Departments" column

In [53]:
(df_csv3.select('Departments')
        .groupBy('Departments')
        .agg(F.sum('Departments'))
).show()

+------------+----------------+
| Departments|sum(Departments)|
+------------+----------------+
|         IOT|            null|
|    Big Data|            null|
|Data Science|            null|
+------------+----------------+

### Group by "Departments" column and using mean function on "Departments" column:

In [55]:
(df_csv3.select('Departments')
        .groupBy('Departments')
        .agg(F.avg('Departments'))
).show()

+------------+----------------+
| Departments|avg(Departments)|
+------------+----------------+
|         IOT|            null|
|    Big Data|            null|
|Data Science|            null|
+------------+----------------+

### Group by "Departments" column and using count function on "Departments" column:

In [ ]:
(df_csv3.select('Departments')
        .groupBy('Departments')
        .agg(F.count('Departments'))
).show()

### Apply agg to using sum function get the total of salaries

In [54]:
(df_csv3.select('Salary')
        .agg(F.sum('Salary'))
).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [57]:
iti_df = (spark.read.format('csv')
          .option('inferSchema','true')
          .option('header','true')
          .load('ITI_data.csv')
         )
iti_df.show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 20 rows

#### train test split

In [105]:
trainDF, testDF = iti_df.randomSplit([.8,.2],seed=42)
print(f"There are {trainDF.count()} rows in the training set, and {testDF.count()} in the test set")

There are 133 rows in the training set, and 25 in the test set

In [59]:
trainDF.dtypes

[('Ship_name', 'string'),
 ('Cruise_line', 'string'),
 ('Age', 'int'),
 ('Tonnage', 'double'),
 ('passengers', 'double'),
 ('length', 'double'),
 ('cabins', 'double'),
 ('passenger_density', 'double'),
 ('crew', 'double')]

In [106]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder,VectorAssembler

In [108]:
categorical_cols = [field for (field, dataType) in trainDF.dtypes 
                   if dataType == "string"]
categorical_cols

['Ship_name', 'Cruise_line']

In [109]:
categorical_output = [s + "_Index" for s in categorical_cols]
categorical_output

['Ship_name_Index', 'Cruise_line_Index']

In [110]:
categorical_encoded = [s + "_ohe" for s in categorical_cols]
categorical_encoded

['Ship_name_ohe', 'Cruise_line_ohe']

In [111]:
numerical_cols = [field for (field, dataType) in iti_df.dtypes
                 if dataType in ['int','double'] and field != 'crew']
numerical_cols

['Age', 'Tonnage', 'passengers', 'length', 'cabins', 'passenger_density']

### OneHotEncoder  and indexing

In [130]:
stringIndexer = StringIndexer(inputCols=categorical_cols, outputCols= categorical_output,handleInvalid = 'skip')

ohe = OneHotEncoder(inputCols= categorical_output, outputCols= categorical_encoded)

OneHotEncoder_da198a38fad7

### Use VectorAssembler to merge all columns into one column:

In [113]:
assemblerInputs = numerical_cols + categorical_encoded
assemblerInputs

['Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density',
 'Ship_name_ohe',
 'Cruise_line_ohe']

In [114]:
vecAssembler = VectorAssembler(inputCols=assemblerInputs,outputCol='features')

vecAssembler

VectorAssembler_0728a8511941

### Create a Linear Regression Model

In [115]:
from pyspark.ml.regression import LinearRegression

In [116]:
lr = LinearRegression(featuresCol='features',
                      labelCol = 'crew',
                      predictionCol='predictions')

In [117]:
myStages = [stringIndexer, ohe, vecAssembler,lr]

### Creating a Pipeline

In [118]:
from pyspark.ml import Pipeline

In [119]:
pipeline = Pipeline(stages=myStages)

In [121]:
pipelineModel = pipeline.fit(trainDF)

22/06/06 21:55:21 WARN Instrumentation: [57d2da1d] regParam is zero, which might cause numerical instability and overfitting.
22/06/06 21:55:21 WARN Instrumentation: [57d2da1d] Cholesky solver failed due to singular covariance matrix. Retrying with Quasi-Newton solver.

In [122]:
pred_df = pipelineModel.transform(testDF)

In [124]:
pred_df.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)
 |-- Ship_name_Index: double (nullable = false)
 |-- Cruise_line_Index: double (nullable = false)
 |-- Ship_name_ohe: vector (nullable = true)
 |-- Cruise_line_ohe: vector (nullable = true)
 |-- features: vector (nullable = true)
 |-- predictions: double (nullable = false)

#### Model Evaluation

In [125]:
from pyspark.ml.evaluation import RegressionEvaluator

In [127]:
regressionEvaluator = RegressionEvaluator(predictionCol='predictions',
                                         labelCol='crew',
                                         metricName='rmse')

In [128]:
rmse = regressionEvaluator.evaluate(pred_df)

In [129]:
print(f"RMSE is {rmse:.1f}")

RMSE is 2.9